#direita{
    margin-top: 20px;
}

#hr_em_pe{
    height: 520px;
}

@media only screen and (max-width: 768px) {
    #direita{
        margin-top: -220px;
    }

    #hr_em_pe{
        height: 452px;
    }
}
    
