:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
    --roxo: #7445cc;
}

#avaliacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aval{
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--roxo);
    background: var(--branco);
    border-radius: 5px;
    width: 900px;
    display: flex;
}


#img_estrelas_2{
    margin-top: -30px;
    margin-left: -10px;
}

#p_aval{
    color: var(--cinza-2);
    margin-top: 10px;
    text-align: justify;
}

#titulo_aval{
    font-size: 5vw; /* Define o tamanho da fonte */
    margin-bottom: 20px; /* Espaçamento inferior */
    color: var(--roxo);
}

  #caixa_escolha{
    border: none;
    outline: none;
    font-weight: bold;
    color: var(--roxo);
    font-size: 15px;
  }


  #but_ava{
    color: var(--branco);
    background-color: var(--roxo);
    border-radius: 10px;
    padding: 5px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: none;
    margin: 20px 0px;
}

#but_ava:hover{
    background-color: var(--cinza-1);
    transition: 0.2s;
}

.ava_baixo{
    color: var(--roxo);
}

.sub_ava_baixo{
    color: var(--cinza-3);
}