/* === Reset de Estilos Globais === */

/* Remove margens e paddings padrão e define box-sizing para facilitar o layout */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão */
}

:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
  }

/* Oculta a barra de rolagem no Chrome, Safari e navegadores baseados em WebKit */
body::-webkit-scrollbar {
    display: none;
}

/* === Estilização do Cabeçalho === */

header {
    background-color: var(--cinza-1); /* Define um fundo escuro para o cabeçalho */
    height: 70px;
}

/* Organiza os elementos na parte superior do cabeçalho */
#parte_de_cima_cab {
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente */
}

/* Define a posição do logo dentro do cabeçalho */
#logo {
    margin: -3px 0 0 100px;
}

#img_logo{
    width: 150px;
}

/* === Estilização da Seção de Login e Carrinho === */

/* Define a altura dos ícones de carrinho e perfil */
#Perfil {
    height: 40px;
    border-radius: 50px;
}

/* Estilização da área de login e cadastro */
#login_cadastro {
    display: flex;
    font-size: 15px;
    margin: 15px 100px 0 0;
}

/* Estilização dos links de login e cadastro */
#p_cadastro_login, .a_cadastro_login {
    color: var(--branco); /* Define a cor do texto */
}

/* === Responsividade === */
@media only screen and (max-width: 650px) {
    /* Ajusta a margem do cabeçalho para melhor espaçamento em telas menores */
    #parte_de_cima_cab {
        margin: 0 20px;
    }

    #img_logo{
        width: 100px;
    }
}
