:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
    --roxo: #7445cc;
}

#destaque{
    margin-left: 10px;
}

#titulo_destaque{
    color: var(--cinza-4);
    font-size: 1.2rem;
}

#inputs_destaque{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.itens{
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: var(--cinza-6);
    font-weight: bold;
    justify-content: space-between;
    width: 70px;
}

/* === Estilização dos checkboxes === */
.input[type="checkbox"] {
    display: none;
}

.input[type="checkbox"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--branco);
    border: 2px solid var(--cinza-2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 5px;
    position: relative;
}

.input[type="checkbox"]:checked + label {
    background-color: var(--branco);
    border-color: var(--branco);
}

.input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 3px solid #1f1f1f;
    border-radius: 50%;
    background-color: var(--branco);
    background-image: radial-gradient(circle, var(--roxo) 30%, var(--cinza-1) 40%);
    background-size: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}