/* Reset de estilo para todos os elementos da página */
*{
    padding: 0px; /* Remove o preenchimento de todos os elementos */
    margin: 0px; /* Remove a margem de todos os elementos */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão */
}

:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
    --roxo: #7445cc;
}

/* Estilo para o corpo da página */
body {
    overflow-x: hidden; /* Impede o overflow horizontal, evitando barras de rolagem indesejadas */
}

/* Estilo para o container principal do conteúdo */
main{
    display: flex; /* Define o uso do flexbox */
    justify-content: center; /* Centraliza o conteúdo dentro do main */
}

/* Estilo da seção de alterar dados */
#alterar{
    background-color: rgb(247, 247, 247); /* Cor de fundo */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
    width: 900px; /* Largura do formulário */
    height: auto; /* Altura do formulário */
    margin-top: 40px; /* Espaço acima do formulário */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Permite que o formulário ocupe um espaço flexível */
    max-width: 900px;
    margin-bottom: 50px;
}

/* Estilo do título principal */
#titulo{
    color: var(--roxo); /* Cor do título */
    font-size: 80px; /* Tamanho da fonte */
    margin-left: 10px; /* Margem à esquerda */
    text-align: center;
}

/* Estilo do link ao passar o mouse */
.link_login{
    color: var(--cinza-1); /* Cor do link */
    font-weight: bold; /* Deixa o link em negrito */
}

/* Estilo do link ao passar o mouse */
.link_login:hover{
    color: var(--roxo); /* Cor ao passar o mouse */
    transition: 0.2s; /* Transição suave */
}

/* Estilo da parte superior do formulário */
#cima{
    display: flex;
    flex-wrap: wrap; /* Permite que os campos se reorganizem quando necessário */
    justify-content: center;
}
#baixo{
    margin-top: 10px;
    margin-left: 20px;
}

#lado{
    display: flex;
    flex-wrap: wrap; /* Permite que os campos se reorganizem quando necessário */
    justify-content: center;
}

/* Estilo comum para as divisões de entrada */
.separacao, .separacao2{
    display: flex; /* Flexbox para alinhar itens */
    flex-direction: column; /* Organiza os campos em coluna */
    width: 350px; /* Largura padrão das divisões */
    margin-left: 20px; /* Margem à esquerda */
}

/* Estilo para a coluna direita */
#direita, #direita_baixo{
    margin-left: 50px; /* Margem à esquerda da coluna direita */
}


/* Estilo dos subtítulos */
.subtitulo{
    color: var(--cinza-2); /* Cor do subtítulo */
    border-bottom: 2px dotted rgb(142, 142, 142); /* Linha pontilhada abaixo do subtítulo */
}

/* Estilo do subtítulo "Dados de acesso" */
#acesso{
    width: 210px; /* Largura específica */
}

/* Estilo do subtítulo "Dados pessoais" */
#pessoais{
    width: 200px; /* Largura específica */
}

/* Estilo do container de inputs */
#inputs{
    margin: 50px 30px; /* Margem interna do container */
}

/* Estilo dos campos de entrada */
.input, .input_baixo{
    background-color: transparent; /* Fundo transparente */
    margin: 15px 10px; /* Margens internas */
    border: none; /* Remove as bordas padrão */
    border-bottom: 2px solid var(--cinza-4); /* Apenas a borda inferior */
    font-size: 20px; /* Tamanho da fonte */
    width: 100%; /* Para evitar cortes laterais */
    max-width: 350px;
}

#add_perfil_img {
    display: inline-block;
    cursor: pointer;
    color: var(--cinza-4);
}

#add_perfil_img:hover {
    background-color: #dedddd;
}

/* Remover o contorno ao focar nos campos de entrada */
.input:focus, .input_baixo:focus{
    outline: none; /* Remove o outline ao focar */
}

/* Estilo do botão de cadastro */
#button{
    width: 100%; /* Para evitar cortes laterais */
    max-width: 350px;
    height: 40px; /* Altura do botão */
    border-radius: 10px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    margin: 10px; /* Margem do botão */
    color: var(--branco); /* Cor do texto */
    background-color: var(--cinza-1); /* Cor de fundo */
    font-size: 30px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
}

/* Estilo do botão ao passar o mouse */
#button:hover{
    background-color: var(--cinza-7); /* Cor do fundo ao passar o mouse */
    color: var(--cinza-2); /* Cor do texto ao passar o mouse */
    transition: 0.2s; /* Transição suave */
}

/* == Estilo das imagens laterais == */

/* Esconde as imagens com IDs específicos */
#sumir_d, #sumir_e, #sumir_e2, #sumir_d2{
    display: none; /* Não exibe as imagens */
}

/* Estilo das imagens à direita */
#imgs_direita {
    display: flex; /* Flexbox para alinhar as imagens */
    align-items: flex-end; /* Alinha as imagens ao fundo */
    flex-direction: column; /* Organiza as imagens em coluna */
    position: fixed; /* Posiciona as imagens sobre o conteúdo */
    bottom: 0; /* Alinha ao fundo da tela */
    right: 0; /* Alinha à direita */
    z-index: -1; /* Coloca atrás de outros elementos */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
}

/* Estilo das imagens à esquerda */
#imgs_esquerda{
    display: flex; /* Flexbox para alinhar as imagens */
    flex-direction: column; /* Organiza as imagens em coluna */
    position: fixed; /* Posiciona as imagens sobre o conteúdo */
    bottom: 0; /* Alinha ao fundo da tela */
    left: 0; /* Alinha à esquerda */
    z-index: -1; /* Coloca atrás de outros elementos */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
}

/* Estilo das imagens à direita */
.img_direita {
    width: 300px; /* Largura das imagens */
    margin-right: -200px; /* Ajuste de margem para o posicionamento */
}

/* Ajuste na margem das imagens, exceto a primeira */
.img_direita:not(:first-child) {
    margin-top: -5px; /* Margem superior para não sobrepor */
}

/* Estilo das imagens à esquerda (invertidas) */
.img_esquerda{
    width: 300px; /* Largura das imagens */
    margin-left: -200px; /* Ajuste de margem para o posicionamento */
    transform: scaleX(-1); /* Inverte horizontalmente as imagens */
}

.img_direita, .img_esquerda {
    max-width: 300px; /* Mantém as imagens menores em telas pequenas */
    opacity: 0.5; /* Reduz a opacidade para não sobrecarregar o layout */
}

/* == Estilos responsivos == */

/* Estilos para telas pequenas (máximo de 850px) */
@media only screen and (max-width: 743px){
    #alterar{
        width: 450px; /* Ajuste de largura para telas menores */
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    #titulo {
        font-size: 3rem;
        text-align: center;
        margin-top: 10px;
    }


    #cima{
        display: block; /* Organiza os elementos em bloco */
    }

    #direita, #direita_baixo{
        margin: 25px; /* Ajuste de margem na coluna direita */
    }

    #endereco{
        width: 240px; /* Ajuste de largura para o endereço */
    }

    #lado{
        display: block; /* Organiza os campos em bloco */
        margin-left: -20px;
    }

    #direita_baixo{
        margin-left: 20px; /* Ajuste de margem */
    }

    #sumir_d, #sumir_e, #sumir_e2, #sumir_d2{
        display: block; /* Exibe as imagens */
    }

    .img_direita {
        width: 200%;
        height: 100%;
        object-fit: cover;
    }

    .cortar{
        width: 150px;
        overflow: hidden; /* Esconde parte da imagem fora da área */
    }

}

/* Para telas menores que 480px (celulares pequenos) */
@media only screen and (max-width: 480px) {

    
    #alterar {
        width: 100%;
    }

    #titulo {
        font-size: 1.8rem;
    }


    #button {
        width: 100%;
        font-size: 1rem;
    }
}
