* {
    margin: 0px;
    padding: 0px;
}

:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
}

/* === Estilos do Carrossel === */

/* Contêiner principal do carrossel */
.slider_artista {
    width: 100vw;
    height: 250px;
    overflow: hidden; /* Evita que imagens ultrapassem os limites */
}

/* Contêiner que agrupa todos os slides */
.cotener_slide_artista {
    width: 400%; /* Define a largura para comportar múltiplos slides */
    display: flex;
}

/* Esconde os inputs de rádio e as imagens da versão mobile */
.cotener_slide_artista input, .img_mobile_artista {
    display: none;
}

/* Estilos individuais dos slides */
.slide_box_artista {
    width: 25%; /* Cada slide ocupa 25% do contêiner */
    position: relative;
    text-align: center;
    transition: 1s; /* Suaviza a transição entre slides */
}

.slide_box_artista img {
    width: 100%; /* Garante que as imagens ocupem todo o espaço do slide */
    transform: translate(0%, -20%); /* Centraliza a imagem */
}

/* === Estilos do botão sobre a imagem === */
.button_artista .a_button_artista{
    position: absolute;
    top: 29%; /* Posiciona o botão no topo da imagem */
    left: 80%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    color: var(--branco);
    border: none;
    padding: 15px 30px;
    font-size: 38px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
    text-decoration: none;
}

/* === Navegação do Carrossel === */

/* Movimentação do carrossel baseada no input de rádio */
#radio_1:checked ~ .primeiro { margin-left: 0%; }
#radio_2:checked ~ .primeiro { margin-left: -25%; }
#radio_3:checked ~ .primeiro { margin-left: -50%; }

/* === Responsividade === */

@media screen and (max-width: 650px) {
    /* Esconde as imagens para desktop */
    .img_desktop { display: none; }

    /* Exibe as imagens na versão mobile */
    .img_mobile_artista { display: block; }

    .button_artista .a_button_artista{
    top: 42%; /* Posiciona o botão no topo da imagem */
    left: 74%;
    padding: 10px 20px;
    font-size: 23px;
}
}