/* === Estilos do Carrossel === */

:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494; 
    --cinza-7: #abaaaa; 
    --branco: #ffffff;
  }

/* Contêiner principal do carrossel */
.slider {
    margin: 0px;
    width: 100%;
    overflow: hidden; /* Evita que imagens ultrapassem os limites */
    z-index: 0;
}

/* Contêiner que agrupa todos os slides */
.cotener_slide {
    width: 400%; /* Define a largura para comportar múltiplos slides */
    display: flex;
}

/* Esconde os inputs de rádio e as imagens da versão mobile */
.cotener_slide input, .img_mobile {
    display: none;
}

/* Estilos individuais dos slides */
.slide_box {
    width: 25%; /* Cada slide ocupa 25% do contêiner */
    position: relative;
    text-align: center;
    transition: 1s; /* Suaviza a transição entre slides */
}

.slide_box img {
    width: 100%;/* Garante que as imagens ocupem todo o espaço do slide */
}

/* === Navegação do Carrossel === */

/* Contêiner dos botões de navegação */
.nav_manual, .nav_auto {
    position: absolute;
    width: 100%;
    margin-top: 35%; /* Ajusta a posição dos botões */
    display: flex;
    justify-content: center;
    background-color: var(--cinza-1);
    padding: 7px;
}

/* Estiliza os botões de navegação */
.nav_manual .manual_btn, .nav_auto div {
    border: 1px solid var(--cinza-4);
    padding: 10px;
    border-radius: 50%; /* Deixa os botões redondos */
    cursor: pointer;
    transition: 0.2s;
}

.nav_manual .manual_btn:not(:last-child), .nav_auto div:not(:last-child) { margin-right: 10px;}

/* Efeito hover nos botões de navegação */
.nav_manual .manual_btn:hover {
    background-color: var(--branco);
}

/* Destaque do botão de navegação ativo */
#radio1:checked ~ .nav_auto .auto_btn1,
#radio2:checked ~ .nav_auto .auto_btn2,
#radio3:checked ~ .nav_auto .auto_btn3 {
    background-color: var(--branco);
}

/* Movimentação do carrossel baseada no input de rádio */
#radio-1:checked ~ .primeiro {margin-left: 0%;}

#radio-2:checked ~ .primeiro { margin-left: -25%;}

#radio-3:checked ~ .primeiro {margin-left: -50%;}

/* === Responsividade === */

@media screen and (max-width: 900px) {
    /* Esconde as imagens para desktop */
    .img_desktop {display: none;}

    /* Exibe as imagens na versão mobile */
    .img_mobile {display: block;}

    /* Ajusta a posição dos botões de navegação */
    .nav_auto, .nav_manual { margin-top: 57%;}
}
