/* Reset de estilo para todos os elementos da página */
*{
    padding: 0px; /* Remove o preenchimento de todos os elementos */
    margin: 0px; /* Remove a margem de todos os elementos */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão */
}

:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
    --roxo: #7445cc;
}

main{
    display: flex; /* Define o uso do flexbox */
    justify-content: center; /* Centraliza o conteúdo dentro do main */
}

/* Estilo da seção de cadastro */
#compra{
    background-color: rgb(247, 247, 247); /* Cor de fundo */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
    width: 900px; /* Largura do formulário */
    height: auto; /* Altura do formulário */
    margin-top: 40px; /* Espaço acima do formulário */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Permite que o formulário ocupe um espaço flexível */
    max-width: 900px;
    margin-bottom: 50px;
}

/* Estilo do título principal */
#titulo{
    color: var(--roxo); /* Cor do título */
    margin-left: 10px; /* Margem à esquerda */
    font-size: 8vw; /* Se adapta ao tamanho da tela */
    text-align: center;
}

.subtitulo{
    color: var(--roxo); /* Cor do título */
    margin-left: 10px; /* Margem à esquerda */
    font-size: 3vw; /* Se adapta ao tamanho da tela */
    text-align: center;
}

.subtitulo_p{
    color: var(--cinza-2); /* Cor do título */
    font-size:  20px; /* Se adapta ao tamanho da tela */
}

.tipo{
    appearance: none; /* remove o estilo padrão */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
    color: var(--cinza-2);
    background-color:rgb(247, 247, 247);
    border: 1px solid var(--roxo);
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 200px;
    background-image: url('../../img/todos_produtos/icone_seta_direita.png'); /* sua própria setinha */
    background-repeat: no-repeat;
    background-position: right 15px center; /* posição da seta */
    background-size: 30px 30px; /* tamanho da seta */
    cursor: pointer;
    margin-bottom: 20px;
}

.tipo:focus{
    outline: none;
    border-color: var(--roxo);
    box-shadow: 0 0 5px rgba(102, 102, 255, 0.5);
    background-image: url('../../img/todos_produtos/icone_seta_baixo.png'); /* sua própria setinha */
}

.item_input {
    display: none;
}

#p_endereco{
    color: var(--roxo); /* Cor do título */
    margin-left: 10px; /* Margem à esquerda */
    font-size: 20px; /* Se adapta ao tamanho da tela */
    text-align: center;
}

/* Estilo dos campos de entrada */
.input{
    background-color: transparent; /* Fundo transparente */
    margin: 15px 10px; /* Margens internas */
    border: none; /* Remove as bordas padrão */
    border-bottom: 2px solid var(--cinza-4); /* Apenas a borda inferior */
    font-size: 20px; /* Tamanho da fonte */
    width: 100%; /* Para evitar cortes laterais */
    max-width: 350px;
}

.separar{
    display: flex; /* Flexbox para alinhar itens */
    flex-direction: column; /* Organiza os campos em coluna */
    width: 350px; /* Largura padrão das divisões */
    align-items: center;
    max-width: 400px; /* Impede que fique muito largo */
}

.inputs{
    display: flex;
    gap: 50px;
    justify-content: center;
}



#button{
    width: 100%; /* Para evitar cortes laterais */
    max-width: 350px;
    height: 40px; /* Altura do botão */
    border-radius: 10px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    margin: 10px; /* Margem do botão */
    color: var(--branco); /* Cor do texto */
    background-color: var(--cinza-1); /* Cor de fundo */
    font-size: 30px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
}

/* Estilo do botão ao passar o mouse */
#button:hover{
    background-color: var(--cinza-7); /* Cor do fundo ao passar o mouse */
    color: var(--cinza-2); /* Cor do texto ao passar o mouse */
    transition: 0.2s; /* Transição suave */
}

/* == Estilo das imagens laterais == */

/* Esconde as imagens com IDs específicos */
#sumir_d, #sumir_e{
    display: none; /* Não exibe as imagens */
}

/* Estilo das imagens à direita */
#imgs_direita {
    display: flex; /* Flexbox para alinhar as imagens */
    align-items: flex-end; /* Alinha as imagens ao fundo */
    flex-direction: column; /* Organiza as imagens em coluna */
    position: fixed; /* Posiciona as imagens sobre o conteúdo */
    bottom: 0; /* Alinha ao fundo da tela */
    right: 0; /* Alinha à direita */
    z-index: -1; /* Coloca atrás de outros elementos */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
}

/* Estilo das imagens à esquerda */
#imgs_esquerda{
    display: flex; /* Flexbox para alinhar as imagens */
    flex-direction: column; /* Organiza as imagens em coluna */
    position: fixed; /* Posiciona as imagens sobre o conteúdo */
    bottom: 0; /* Alinha ao fundo da tela */
    left: 0; /* Alinha à esquerda */
    z-index: -1; /* Coloca atrás de outros elementos */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
}

/* Estilo das imagens à direita */
.img_direita {
    width: 300px; /* Largura das imagens */
    margin-right: -200px; /* Ajuste de margem para o posicionamento */
}

/* Ajuste na margem das imagens, exceto a primeira */
.img_direita:not(:first-child) {
    margin-top: -5px; /* Margem superior para não sobrepor */
}

/* Estilo das imagens à esquerda (invertidas) */
.img_esquerda{
    width: 300px; /* Largura das imagens */
    margin-left: -200px; /* Ajuste de margem para o posicionamento */
    transform: scaleX(-1); /* Inverte horizontalmente as imagens */
}

.img_esquerda:not(:first-child) {
    margin-top: -5px; /* Margem superior para não sobrepor */
}

.img_direita, .img_esquerda {
    max-width: 300px; /* Mantém as imagens menores em telas pequenas */
    opacity: 0.5; /* Reduz a opacidade para não sobrecarregar o layout */
}


@media only screen and (max-width:  768px){
    #compra{
        width: 450px; /* Ajuste de largura para telas menores */
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .input{
        width: 300px; /* Para evitar cortes laterais */
        
    }

    .img_direita {
        width: 200%;
        height: 100%;
        object-fit: cover;
    }

    .cortar{
        width: 150px;
        overflow: hidden; /* Esconde parte da imagem fora da área */
    }

    #sumir_d, #sumir_e{
        display: block; /* Exibe as imagens */
    }
}