:root{
    --cinza-1: #303030;
    --cinza-2: #5d5d5d;
    --cinza-3: #6d6d6d;
    --cinza-4: #7b7a7a;
    --cinza-5: #888888;
    --cinza-6: #949494;
    --cinza-7: #abaaaa;
    --branco: #ffffff;
    --roxo: #7445cc;
}

.capa {
    width: 50px;
}

.destaque{
    width: 40px;
}

.promocao_input{
    width: 50px;
    color: var(--cinza-2);
    border-radius: 5px;
    border: 1px solid var(--cinza-1);
    margin-right: 2px;
}

.button_promo{
    border-radius: 5px;
    border: none;
    background-color: #e2e2e2; /* Cor de fundo */
    color: var(--cinza-2); /* Cor do texto */
    padding: 5px;
    margin-right: 13px;
    margin-top: 4px;
    font-weight: bold;
}

.button_promo:hover{
    color: var(--branco); /* Cor do texto ao passar o mouse */
    background-color: var(--cinza-2); /* Cor de fundo ao passar o mouse */
    transition: 0.3s;
}

#separar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.separar_pc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .separar_pc{
        flex-direction: column;
    }
}